nav{
    display: flex;
    justify-content: space-between;
    background: rgba(255, 144, 14, 0.1);
    width: 1820px;
    height: 1240px;
    align-content: center;
}
.logo{
    color: #131313;
    font-weight: 320;
    font-size: 18px;
}
.menu{
    display: flex;
    
}
.login-title{
    text-align: center;
}
.writing{
    text-align: center;
    color:#727272;
    margin-bottom: 40px;
font-weight: 400;
font-size: 16px;
line-height: 26px;
}
.menu li{
    list-style: none;
    margin-right: 80px;
}
.menu a{
    color: black;
}
.brand-title{
    position: absolute;
width: 862px;
height: 225px;
left: 229px;
top: 105px;
text-align: center;

}
.login{
    font-size: 30px;
}
.banner img{
width: 1440px;
height: 700px;
left: 40px;
top: 77px;
border-radius: 8px;
}

/* top blog styls */
.blog{
    display: flex;
}
.thumbnail img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 342px;
    height: 342px;
    margin-top: 20px;
}
